@import url('https://fonts.googleapis.com/css?family=Nova+Round|Reenie+Beanie|Righteous|Saira+Semi+Condensed');

* {
    box-sizing: content-box;
}

body {
    background: url(fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
	   background-size: cover;
}

.header-container {
    margin: 0;
    padding: 0;
} 
.header {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
    margin: 1px;
   font-family: 'Righteous',cursive;
 font-size: 27px;
 color: #333333;
 }
 
 .btn-inite-sesion{
    float: right;
    width: 80px;
    height: 29px;
    margin: 0;
    padding: 0;
    background: #FFE662;
    font-family: Saira SemiCondensed;
    font-size: 14px;
    color: #000000;
 }
 .header-right {
    float: right;
    }
 
    .container { 
        margin: 10px;
        padding: 10px;
    }

 .logo-in-main {
 font-family: Reenie Beanie;
 top: 80px;
 font-size: 15vw;
 text-align: center;
 color: #000000;
 }
 
 .slogan {
    font-family: Righteous;
    padding: 0;
    font-size: 18px;
    text-align: center;
    color: #333333;
 }
 
 .ways-of-inite, .final-phrase {
     text-align: center;
     padding: 0;
     margin: 0;
 }

 .btn-register {
 width: 144px;
 height: 30px;
 background: #71C04C;
 border-radius: 5px;
 }

 
 p {
 width: 27px;
 height: 19px;
 margin-left: 48%;
 text-align: center;
 font-family: Nova Round;
 font-size: 15px;
 color: #000000;
 }
 
 .btn-continue-with-fb {
 width: 144px;
 height: 30px;
 background: #2D4B9A;
 border-radius: 5px;
 font-family: Saira SemiCondensed;
 font-size: 12px;
 color: #FCF6F6;
 }
 
 .btn-continue-with-google {
 width: 144px;
 height: 30px;
 background: #FFFFFF;
 border-radius: 5px;
    font-family: Saira SemiCondensed;
 font-size: 12px;
 color: #000000;
 }
 
 .btn-register-2{
    width: 144px;
    height: 30px;
    background: #71C04C;
float: right;
 }
 .final-phrase {
 font-family: Reenie Beanie;
 font-weight: 500;
 font-size: 5vw;
 color: #000000;
 }

 .grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: rgb(158, 196, 226, 0.8);
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(110, 113, 117, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }