.container-of-register {
    top: 20px;
}
.text-of-page-register {
    text-align: center;
    top: 20px;
}

form {
    
}

.text-center-inite {
    text-align: center;
}
input {
    width: 50%;
    align-content: center;
}